body {
    font-family: Calibri;
    font-size: 15px;
    margin: 30px;
}

.content {
    position: relative;
}
.game-over {
    display: none;
    margin: 0 auto;
    width: 900px;
    text-align: center;
    color: #f44336;
    font-size: 21px;
    font-weight: bold;
}

#field {
    width: 900px;
    margin: 0 auto;
}
.field-line {
    height: 75px;
    background-color: #4caf50;
    position: relative;
	/*border: 1px solid yellow;*/
}

.buttons {
    width: 900px;
    margin: 0 auto;
    margin-top: 5px;
}
.button {
    display: inline-block;
    border: 1px solid #eee;
    padding: 5px 10px;
    margin-bottom: 5px;
    cursor: pointer;
    text-align: center;
	background-color: #ff9800;
}
	/*.button#btnGenerate {
        background-color: #ff9800;
    }*/
	.button.stop{
		color: darkgreen;
		background-color: yellow;
	}
	.button.disabled {
		
	}

.zombie {
    position: absolute;
    top: 0;
    right: 0;
	color: red;
	text-align: center;
}
    .zombie.michael {
        width: 50px;
        height: 74px;
        background-image: url(../img/michael.gif);
        background-size: cover;
		background-position: bottom;
    }
    .zombie.strong {
        width: 60px;
        height: 74px;
        background-image: url(../img/strong.gif);
        background-size: cover;
    }
